extends base


block channel_cont
      .relative
        .bg-white.w-full.mb-12.border-gray-200.rounded-lg.shadow(class='sm:p-8 dark:bg-gray-800 dark:border-gray-700')
          .grid.grid-cols-4
            
            // Announcement titles
            .border-r.border-gray-300.col-span-4(class='lg:col-span-1')
              ul.overflow-auto(class='h-[32rem]')
                .flex.justify-between.items-center.pb-6.border-b.border-gray-300
                  h2.text-3xl.text-gray-600(class='dark:text-white') Announcements
                  if channel.publishers.includes(user.username)
                    a.mt-2.mr-4.text-sm.inline-flex.font-medium.text-blue-600(href='/channel/'+channel._id+'/addpost' class='hover:underline dark:text-blue-500')
                      | Add Post
                each ann in titles
                  li.flex.justify-between.overflow-hidden.transition.duration-150.ease-in-out.border-b.border-gray-300(class='hover:bg-gray-100 focus:outline-none dark:hover:bg-gray-700')
                      a.w-full.flex.items-center.px-1.py-2.text-sm(href="/channel/posts/"+channel._id+"?post="+ann._id )
                        .w-full.pb-2(class='dark:text-white')
                          .flex.justify-between
                            span.block.ml-2.font-bold #{ann.title}
                            span.block.ml-2.text-sm #{ann.date}
                          .flex.justify-between
                            span.block.ml-2.text-sm #{ann.publisher} 
                      if channel.publishers.includes(user.username)            
                        .flex.justify-end.mr-4
                          a(href="/channel/posts/"+channel._id+"/edit?post="+ann._id).w-12     
                            svg(style="pointer-events: all;" fill='#000000' height='64px' width='64px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='-348.88 -348.88 1046.64 1046.64' xml:space='preserve')
                              g(stroke-width='0')
                                g(stroke-linecap='round' stroke-linejoin='round')
                                  g
                                    g
                                      path(d='M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231 c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685 c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176 C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99 L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386 c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z')
                                      path(d='M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904 c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15 s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798 c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z')
                          a(href="/channel/posts/"+channel._id+"/delete?post="+ann._id).w-12   
                            svg(width='64px' height='64px' viewbox='-798.72 -798.72 2621.44 2621.44' xmlns='http://www.w3.org/2000/svg' fill='#000000' stroke='#000000')
                              g#SVGRepo_bgCarrier(stroke-width='0')
                                g#SVGRepo_tracerCarrier(stroke-linecap='round' stroke-linejoin='round')
                                  g#SVGRepo_iconCarrier
                                    path(fill='#ff0000' d='M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z')

            
            // Complete Ann
            .block.col-span-4(class='lg:col-span-3')
              .w-full
                .relative.flex.p-3.border-b.border-gray-300
                  .my-4.mb-6.ml-6.w-full.flex.justify-between(class='dark:text-white')
                    div
                      h1.text-3xl.text-gray-600.font-bold.text-gray-600(class='dark:text-white') #{announcement.title}
                      p Docente: #{announcement.publisher}
                    p.text-lg #{announcement.date} 

                  
                .relative.w-full.p-6.overflow-y-auto(class='h-[20rem] dark:text-white')
                  p #{announcement.content}
                hr

                // Comment Section variables = [{author:"",date:"",text:""}]
                .relative.w-full.overflow-y-auto(class='h-[20rem]')
                  h2.my-4.ml-6.text-lg.text-gray-600.font-bold.text-gray-600(class="dark:text-gray-200") Secção dos Comentários
                  if announcement.comments
                    each comment in announcement.comments
                      section.bg-white.py-4.ml-6(class="dark:bg-gray-800 dark:border-gray-700 dark:text-white")
                        .max-w-2xl.px-4.border.rounded-3xl.border-r.border-gray-400
                            .mb-1.text-base.mt-2
                              footer.flex.justify-between.mb-2
                                .flex.items-center
                                  p.inline-flex.items-center.mr-3.text-sm.text-gray-900(class="dark:text-gray-200")
                                    | #{comment.commenter}
                                  p.text-sm.text-gray-600
                                    | #{comment.date}
                              p
                                | #{comment.comment}
                  
                .flex.items-center.justify-between.w-full.p-3.border-gray-300
                    form(id="commentForm" method="POST" action="/channel/posts/addcomment?announcement="+announcement._id+"&channel="+channel._id)
                    button
                      svg.w-6.h-6.text-gray-500(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                    
                    input.block.w-full.py-2.pl-4.mx-3.bg-gray-100.rounded-full.outline-none(form="commentForm" name="comment" type='text' placeholder='Comment' class='focus:text-gray-700'  required='')
                    button(type='submit' form="commentForm")
                      svg.w-5.h-5.text-gray-500.origin-center.transform.rotate-90(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                        path(d='M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z')

                    
                  

              