extends base


block channel_cont
  .grid.grid-cols-8.grid-rows-3.gap-4
    
    // Announcement titles
    .col-span-8(class='md:col-span-3  md:row-start-1')
      .p-4.bg-white.border.border-gray-200.rounded-lg.shadow(class='sm:p-8 dark:bg-gray-800 dark:border-gray-700')
        .flex.items-center.justify-between.mb-4
          h5.text-xl.font-bold.leading-none.text-gray-900(class='dark:text-white') Announcements
          div
            a.text-sm.inline-flex.font-medium.text-blue-600(href='/channel/posts/'+channel._id class='hover:underline dark:text-blue-500')
              | View all
            if channel.publishers.includes(user.username)
              a.ml-4.text-sm.inline-flex.font-medium.text-blue-600(href='/channel/'+channel._id+'/addpost' class='hover:underline dark:text-blue-500')
                | Add Post
        .flow-root
          ul.divide-y.divide-gray-200(role='list' class='dark:divide-gray-700')
            each ann in titles 
              li.py-3(class='sm:py-4')
                .flex.items-center.space-x-4.justify-between
                  div
                    a.text-gray-900.truncate(href="/channel/posts/"+channel._id+"?post="+ann._id class='hover:underline dark:text-blue-500')
                      | #{ann.title}
                    p.mt-2.text-xs.text-gray-600.truncate(class="dark:text-white")
                      | Por: #{ann.publisher}

                  p.text-sm.font-medium.text-gray-900.truncate(class="dark:text-white")
                    | #{ann.date}

    // Content Tab
    .col-span-8(class='md:col-start-4 md:col-end-9 md:row-start-1 md:row-end-3')
      .mb-5.flex.items-center.justify-between
        h5.text-2xl.font-bold.leading-none.text-gray-900(class='dark:text-white') Content
        label.sr-only(for='table-search') Search
        .relative
          .absolute.inset-y-0.left-0.flex.items-center.pl-3.pointer-events-none
            svg.w-5.h-5.text-gray-500(class='dark:text-gray-400' aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z' clip-rule='evenodd')
          input#table-search.block.p-2.pl-10.text-sm.text-gray-900.border.border-gray-300.rounded-lg.w-80.bg-gray-50(type='text' class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Search for files') 
      
      // Table of contents
      .relative.bg-white.h-80.overflow-x-auto.shadow-md(class='sm:rounded-lg dark:bg-gray-800')
        table.w-full.text-sm.text-left.text-gray-500.overflow-x-auto(id="folders" class='dark:text-gray-400')
          thead.text-xs.text-gray-700(class='dark:bg-gray-700 dark:text-gray-400')
            
            // Table head with current and past folders
            nav.flex.items-center.justify-between.px-5.py-3.text-gray-800.bg-gray-50(class='dark:bg-gray-800 dark:border-gray-700')
              ol.inline-flex.items-center.space-x-1(class='md:space-x-3' id="dirnav")

              if channel.publishers.includes(user.username)
                a.ml-4.text-sm.inline-flex.font-medium.text-blue-600(href='/channel/' + channel._id + '/addfile' class='hover:underline dark:text-blue-500')
                  | Add File

          tbody
    
    // Important Dates
    .row-span-2.col-span-8(class='md:col-span-3  md:row-start-2')
      .w-full.p-4.bg-white.border.border-gray-200.rounded-lg.shadow(class='sm:p-8 dark:bg-gray-800 dark:border-gray-700')
        .flex.items-center.justify-between.mb-4
          h5.text-xl.font-bold.leading-none.text-gray-900(class='dark:text-white') Important Dates

          if channel.publishers.includes(user.username)
            a.ml-4.text-sm.inline-flex.font-medium.text-blue-600(href='/channel/'+channel._id+'/adddate' class='hover:underline dark:text-blue-500')
              | Add date

        .flow-root
          ul.divide-y.divide-gray-200(role='list' class='dark:divide-gray-700')
            each date in dates
              li.py-3(class='sm:py-4')
                .flex.items-center.space-x-4
                  p.text-sm.font-medium.text-gray-900.truncate(class="dark:text-white")
                    | #{date.date}
                  p.font-medium.text-gray-900.truncate(class="dark:text-white")
                    | #[strong #{date.title}]
                p.mt-1.text-xs.text-gray-600.truncate(class="dark:text-white")
                    | #{date.description}
          


  script.
    var files = #{folders};
    var current = files;
    var path = ["Home"]
    let tableRows = $('#folders').find('tbody')

    function composeFolder(){
      $("#dirnav").empty()
      for(let i in path){
          currP = path[i]
          let li = $('<li>').attr("class","inline-flex items-center text-gray-400")
          let a = $('<a>').attr("data-nav",currP).attr("href","#").attr("class","inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white")
          if (currP =="Home"){
              let home= $("<object>").attr("class","w-4 h-4 mr-2 dark:invert").attr("data",'/images/svgs/home.svg').attr("type",'image/svg+xml')
              $("ol").append(li.append(a.append(home).append($("<span>").text(currP))))
          }
          else {
            let arrow= $("<span>").attr("class","mr-2 font-medium").text(">")
            $("ol").append(li.append([arrow, a.text(currP)]))
          }
           
          if (i == 0)
            current = files
          else current = current[currP].files
      }

      for (let i in current){
        let file = current[i]
        if (file.type == "dir"){
          let tag = $('<td>').attr("class", "flex items-center ml-64").append($("<div>").attr("class","border rounded-lg p-1").text("Directory"))
          let name = $('<th>').attr("class","flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white").attr("scope","row").text(i)
          let tr = $('<tr>').attr("data-directory",i).attr("class","cursor-pointer flex bg-white dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600")
          tableRows.append(tr.append(name).append(tag))
        } 
        else if (file.type == "file"){
          let tr = $('<tr>').attr("class","flex cursor-pointer justify-between bg-white dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600")
          let href = $('<a>').attr("href", '/file/' + file.metadata._id).text(i)
          let name = $('<th>').attr("class","flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white").attr("scope","row")
          name.append(href)
          let format = $('<td>').attr("class","px-6 py-4").text(file.format)
          let tags = $('<td>').attr("class","px-6 py-4").text("TAGS")
          let fileSize = $('<td>').attr("class","px-6 py-4").text("FILE_SIZE")
          tableRows.append(tr.append(name).append(tags).append(format).append(fileSize))
        } 
      }

       $("tr").each(function(index, value) {
          if (this.dataset.directory){
            $(this).on("click",function(){
              tableRows.empty();
              path.push(this.dataset.directory);
              composeFolder()
            })
          }
        });

        $("#dirnav > li > a").each(function(index, value) {
           $(this).on("click",function(){
                let flag = false 
                let counter = path.length -1
                while (!flag){
                    if (this.text != path[counter]){
                      path.splice(counter, 1); 
                    }
                    else
                      flag=true
                    counter--
                }
                tableRows.empty();
                composeFolder()
              }
           )
        })
    }
    $(window).on('load', function() {
        composeFolder();
    })
        
     


  



      
              
                
